.project-wrapper::-webkit-scrollbar {
  width: 4px;
}

.project-wrapper::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}

.project-wrapper::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255); /* Semi-transparent */
  border-radius: 10px;
}

.project-wrapper::-webkit-scrollbar-thumb:hover {
  background: rgba(151, 151, 151, 0.842);
}
.decs-scroll::-webkit-scrollbar {
  width: 5px;
}
.decs-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.decs-scroll::-webkit-scrollbar-thumb {
  background: rgb(212, 255, 253);
  border-radius: 13px;
}


@media (max-width:768px) {
  *{
    /* outline: 1px solid red; */
  }
.project-wrapper{
  overflow-x: hidden !important;
  width: 350px !important;
  padding: 0 !important;
  padding-left: 24px !important;
  
  /* outline: 1px solid red; */
}
  .single-card{
    width: 300px  !important;
  }
}